body {
  font-family: "Signika Negative", sans-serif;
  background-image: radial-gradient(
    circle farthest-corner at 0% -0.5%,
    rgba(135, 206, 250, 1) 0%,
    rgba(255, 182, 193, 1) 100.2%
  );
  background-repeat: repeat-x;
}

h1 {
  color: #7a2747;
  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  color: #7a2747;
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3.5px solid rgba(95, 17, 3, 0.801);
  border-radius: 10px;
}

.location-overview {
  padding-bottom: 20px;
  text-align: center;
}
.temperature-icon-number img {
  margin-right: 10px;
  margin-top: -20px;
}
.temperature-icon-number strong {
  color: #7a2747;
  font-weight: 400px;
  font-size: 50px;
}
.temperature-icon-number .units {
  position: relative;
  top: -25px;
  font-weight: bolder;
}
small {
  color: #7a2747;
  font-weight: bolder;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #7a2747;
}
.weather-forecast-day {
  color: #7a2747;
  font-size: 16px;
  font-weight: bold;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}
.handle-forecast-style {
  border-top: 0.5px solid;
}
.handle-forecast-style :hover {
  background-color: rgba(135, 206, 250, 1);
  transition: ease-in 350ms;
}
