.img {
  background-image: url(../images/purpleweather.jpg);
  padding: 50px;
  background-position: center;
  background-size: cover;
  max-width: 900px;
  min-width: 600px;
}

body {
  font-family: "Signika Negative", sans-serif;
  background-color: #b8a8e2;
}

h1 {
  color: #b8a8e2;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  color: #b8a8e2;
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  min-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 6px double rgba(177, 177, 255, 0.7);
}

.location-overview {
  padding-bottom: 20px;
}
.temperature-icon-number img {
  margin-right: 10px;
  float: left;
  height: 64px;
  width: 64px;
}
.temperature-icon-number strong {
  color: #b8a8e2;
  font-weight: 400px;
  font-size: 50px;
}
.temperature-icon-number .units {
  position: relative;
  top: -25px;
  font-weight: bolder;
}
small {
  color: #b8a8e2;
  font-weight: bolder;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #b8a8e2;
}
.weather-forecast-day {
  color: #b8a8e2;
  font-size: 16px;
  font-weight: bold;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}
